/* /////////////////////////////////////// */
/* FONT-FACE */ 
/* /////////////////////////////////////// */

@font-face {
    font-family: "Routed Gothic Italic";
    src:    url("/fonts/routed-gothic-italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Atkinson-Hyperlegible";
    src:    url("/fonts/Atkinson-Hyperlegible-Regular-102.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Atkinson-Hyperlegible";
    src:    url("/fonts/Atkinson-Hyperlegible-Italic-102.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Atkinson-Hyperlegible";
    src:    url("/fonts/Atkinson-Hyperlegible-Bold-102.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Atkinson-Hyperlegible";
    src:    url("/fonts/Atkinson-Hyperlegible-BoldItalic-102.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}