/* /////////////////////////////////////// */
/* IMPORTS */ 
/* /////////////////////////////////////// */

@import "include-media";
@import "fonts";
@import "hamburgers";

/* /////////////////////////////////////// */
/* VARIABLES */ 
/* /////////////////////////////////////// */

$breakpoints: (phone: 20rem, tablet: 48rem, desktop: 64rem);
$basecolor: #ccc7b2;
$accentcolor: #677240;
$containerWidth: 1000px;
$galeriItemWidth: 130px;
$fontfamily: 'Atkinson-Hyperlegible'; //"Routed Gothic"
$percentwidth: 100%;
$theme-dark: darken($basecolor,20%);
$theme-light: #fafdfc;
$textcolor: rgb(3, 3, 3);

* {
  box-sizing:border-box;
}

::placeholder {
  color: rgba(255, 255, 255, 0.5);
  color:#dd9797cb;
}

body {
  margin:0;
  min-height:100vh;
  background:linear-gradient(172deg, rgba(255,255,255,1) 0%, rgba(231,232,223,0.958420868347339) 30%, #f5f2e8ee 60%, rgba(235, 226, 202, 0.619) 94%), url('/images/DSCF5068-1.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:0 100vh, 0 100vh;

}

.main-wrapper {
  position:relative;
  display:flex;
  flex-direction:column;
  min-height:100vh;
  max-width:100vw;
  font-family:$fontfamily;
  font-size:1.1rem;
  color:$textcolor;
  //background: linear-gradient(-45deg, $basecolor, darken($basecolor,8%), darken($basecolor,2%), darken($basecolor,4%));

  padding-bottom:1rem !important;
/*   &::after {
    content:"";
    width:200px;
    height:400px;
    position:absolute;
    top:80vh;
    right:-70px;
    background-image:url('/electrons/0-marke-00.png');

      background-size:cover;
      background-position:center 0;
  }  */
  @include media(">desktop") {
  
    }
  @include media("<tablet") {
      font-size:1rem;
  }
  section {
      margin-bottom:3rem;
      @include media(">tablet") {
          margin-bottom:5rem;
      }
  }
  p {
      line-height:1.6rem;
      margin-bottom:1.5rem;
      &.sign {
        display:flex;
        justify-content: flex-end;
        align-items:center;
        font-weight:600;
        padding-right:1rem;
        margin:1rem 0 5rem;
      }
  }
  #sortir-du-cadre {
    font-family: 'Birthstone Bounce', cursive;
    color:rgb(78, 146, 118);
    text-align:center;
    margin:3rem 0 2rem;
    font-size:3.25rem;
    animation: spectrum 10s infinite;
    animation-direction: alternate;  
    @include media("<tablet") {
      margin:2rem 0 1rem;
      font-size:5vh;
    }
    @include media("<phone") {
      margin:2rem 0 1rem;
      font-size:4vh;
    }
    + p {
      columns: 2;
      line-height:1.7rem;
      font-size:1.3rem;
      margin:0;
      @include media("<tablet") {
        columns: 1;
        font-size:1.15rem;
        line-height:1.5rem;
      }
    }
  }
  a {
      color:$accentcolor;
      text-decoration: none;
  }
  img {
      margin:0;
      padding:0;
      height:auto !important;
  }
  ul {
      padding-left:1rem;
      li {
          padding:.15rem 0;
          line-height:1.6rem;
      }
  }
  h1, h2 {
      margin-bottom:1rem;
      font-size:2.5rem; 
      font-weight:700;
      font-family: $fontfamily;
      &.page-title {
          font-size:2.8rem !important;
          text-align:center;
      }
  }
  h2 {
      font-size:2rem; 
  }
  h3 {
      font-weight:400;
      line-height:1.6rem;
  }
  h4 {
      font-size:1.2rem;
      font-weight:600;
      color:$accentcolor;
      margin-bottom:0;
  }
  /* ///////////////////////////// */
  /* Hamburger and header */
  /* ///////////////////////////// */
  @keyframes spectrum {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
/* mix-blend-mode: difference;
filter: saturate(.6) blur(4vh); */
  header {
      max-width:100vw;
      height:100vh;
      display:flex;
      justify-content: center;
      align-items: center;
      background-image:url('/images/galeries/home/marke-02.jpg');
      background-repeat:no-repeat;
      background-size:cover;
      background-position:center 0;
      position:relative;
      overflow:hidden;
      animation: spectrum 10s infinite;
      animation-direction: alternate; 
      .social {
        position:absolute;
        top:0;
          display:flex;
          justify-content:flex-end;
          padding:1rem;
          width:100%;
         
              a {
                display:inline-flex;
                  img {
                      width:36px;
                      margin-left:.5rem;
                      @include media(">tablet") {
                          width:40px;
                      }
                  }
              }
          
      }
      .main-logo {
          display:flex;
          align-items: flex-start;
          img {
              height:30vh !important;
              width:auto;
          }
          p {
              margin:0;
              padding:0;
              font-size:1.1rem;
              font-weight:300;
              text-transform:uppercase;
              margin-left:1.25rem;
          }
          @include media("<tablet") {
              flex-direction:column;
              p {
                  margin-left:0;
                  margin-top:1rem;
              }
          }
      }
  }

  /* ///////////////////////////// */
  /* General styles */
  /* ///////////////////////////// */

  .container {
      max-width:100vw;
      max-width:$containerWidth;
      margin:0 auto;
      flex-grow:1;
      padding:1rem;
      z-index:2;
      &.large {
          max-width:1000px;
      }
      video {
          max-width:100%;
          border-radius:.5rem;
      }
      @include media("<tablet") {
          padding:1rem 1rem 1rem;
      } 
  }
}

/* /////////////////////////////////////// */
/* FOOTER */ 
/* /////////////////////////////////////// */

footer {
  display:flex;
  align-items:center;
  justify-content: space-between;
  flex-direction:column;
  padding:1rem 0 0;
  .footer-metas { 
      display:flex;
      width:100%;
      justify-content: space-between;
      color:rgba(255, 255, 255, 0.5);
      color:#333;
      .designed {
          margin-right: 1.5rem;
      }
      @include media("<tablet") {
          flex-direction:column;
          align-items:center;
          text-align:center;
          .designed {
              margin-right: 0;
          }
      }
      p {
          display:flex;
          justify-content: center;;
          align-items:flex-end;
          margin:0;
          margin-top:0;
          margin-bottom:0 !important;
          font-size:.9rem;
          @include media(">tablet") {
              margin-left:1.5rem;
          }
          a {
              margin-left:.5rem;
          }
      }
      .designed {
          p {
              display:flex;
              flex-direction: column;
              justify-content: center;
              align-items:center;
              margin-top:1rem;
              font-size:.8rem;
              img {
                  width:70px;
                  height:auto;
                  filter:invert(1);
                  @include media("<500px") {
                      width:50px;
                  }
              }
          }
      }
  } 
}

/* /////////////////////////////////////// */
/* PAGE ANIMATIONS */ 
/* /////////////////////////////////////// */

.page-enter-active {
  transition: opacity 0.2s ease-out;
  opacity: 1;
}

.page-leave-active {
  transition: opacity 0.2s ease-in;
  opacity: 1;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

.list-items {
  display:flex;
  justify-content: space-between;
  flex-wrap:wrap;
  /* width:calc(100% + 1.5rem);
  margin:3rem -.75rem; */
  article {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow:1;
    max-width:100%;
    margin:.75rem;
    margin-bottom:2rem;
    @include media(">600px") {
      max-width:calc(48% - 1rem);
      margin-bottom:0;
    }
    .img-container {
      margin-bottom:2rem;
      border:none;
      border-radius:.3rem;
      > a {
        display: flex;
        flex-direction: column;
        small {
          display:flex;
          justify-content: flex-start;
          width:100%;
          font-size: .8rem;
          opacity:.6;
          margin-top:.75rem;
        }
      }
    }
    img {
      width:100%;
      max-width:100%;
      height:auto;
      border:none;
      transition:all ease .2s;
      border-radius:.3rem;
      + small {
        margin-bottom:1.5rem;
      }
    }
    h3 {
      color:$accentcolor;
    }
    .more {
      display:inline-flex;
      background:darken($basecolor,10%);
      padding:1rem 1.5rem;
    }
  }
}

.contact {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  text-align:center;
  @include media(">800px") {
    width:70%;
  }
  h2 {
    display:flex;
align-items: center;
    justify-content: center;
    padding:0;
    margin:0;
    @include media(">tablet") {
      flex-direction:row;
      .material-icons {
        margin-right:1rem;
      }
    }
  }
  .material-icons {
    font-size:3rem;
    color:$accentcolor;
  }
  a {
    display:inline-flex;
    background:#000000;
    color:white;
    padding:1rem 1.5rem;
    margin-top:1rem;
  }
}

.gallery {
  display:flex;
  align-items:flex-start;
  flex-wrap:wrap;
  justify-content: space-between;
  margin:3rem 0 3rem 0;
  @include media("<tablet") {
    flex-wrap:wrap;
  }
  a {
    display:inline-flex;
    align-items:flex-start;
    overflow:hidden;
    padding:0 !important;transition:all ease .2s;
    border-radius:.2rem;
    transition:all ease .3s;
    &:hover {
      transform:scale(1.05);
    }
    @include media("<650px") {
      margin-bottom:4%;
    }
    @include media("<phone") {
      width:100% !important;
    }
  }
  &.grid-1 {
    a {
      width:100%;
    }
  }
  &.grid-2 {
    a {
      width:48%;
      @include media("<650px") {
        width:100%;
      }
    }
  }
  &.grid-3 {
    a {
      width:31%;
      margin-bottom:3%;
      @include media("<650px") {
        width:48%;
        &:nth-child(3) {
          width:100%;
        }
      }
    }
  }
  &.grid-4 {
    a {
      width:23%;
      margin-bottom:2%;
      @include media("<650px") {
        width:48%;
      }
    }
  }
  img {
    margin-bottom:-5px;
    width:100%;
    transition:all ease .2s;
    @include media(">768px") {
      opacity:1;
      filter:grayscale(.2);
      &:hover {
        opacity:1;
        filter:grayscale(0);
      }
    }
    &:hover {
      opacity:1;
      filter:grayscale(0);
    }
  }
}

.material-icons.article-btn {
  display:inline-flex;
  align-items:center;
  padding:.6rem;
  margin-right:.75rem;
  border-radius:100px;
  background:darken($basecolor, 10%);
  margin-top:1rem;
  margin-bottom:1rem;
  + a {
    text-transform:uppercase;
  }
}