<template>
    <header>
        <Logo/>
        <Social/>
    </header>
</template>
<script>
import Logo from './Logo'
import Social from './Social.vue'

export default {
    components: {
         Logo,
         Social
    }
};
</script>