<template>
    <nav>
        <nuxt-link @click.native="emiter" :to="'/'"><Logo /></nuxt-link>
        <!-- <nuxt-link @click.native="emiter" :to="'/'">About</nuxt-link>
        <nuxt-link @click.native="emiter" :to="'/'">Contact</nuxt-link> -->
    </nav>
</template>
<script>
import Logo from './Logo.vue'

export default {
    components: {
        Logo
    },
    methods: {
        emiter: function(){
            this.$emit("clicked")
        }
    }
}
</script>