<template>
    <div class="social">
        <a :href="'/'" class="facebook" target="_blank">
            <img src="/icons8-facebook.svg" alt="Facebook">
        </a>
        <a :href="'/'" class="instagram" target="_blank">
            <img src="/icons8-instagram.svg" alt="Instagram">
        </a>
    </div>
</template>