<template>
    <section class="contact container large">
      <!-- <h2>
          <span class="material-icons">phone_in_talk</span>
          Contact</h2> -->
      <a href="mailto:markelamarque@gmail.com" class="contact-link">Envoyer un email</a>
    </section>
</template>