<template>
    <footer>
        <div class="footer-metas">
            <p>Copyright 2021 © MARKE. Tous droits réservés</p>
            <div class="designed">
                <p>Designed by
                    <a href="https://peopleinspace.be" target="_blank">
                        <img src="/images/logos/pip.svg" alt="People in Space">
                    </a>
                </p>
            </div>
        </div>
    </footer>
</template>
<script>
    export default {}
</script>