<template>
    <div :class="'gallery grid-'+gallerygrid">
    <a data-fancybox="gallery" :href="'/images/galeries/home/'+image.url"  v-for="(image, idx) in gallery" :key="idx">
        <img class="galitem" :src="'/images/galeries/home/'+image.url" alt="">
        <!-- <small v-if="image.credit">© {{ image.credit }} </small> -->
    </a>

    </div>
</template>
<script>

export default {
    props: {
        gallery: Array,
        gallerygrid: Number
    }
}
</script>

