<template>
  <div class="main-wrapper">
      <Header/>
      <div>
        <Nuxt/>
      </div>
      <Footer/>
  </div>
</template>

<script>
  import Header from "./components/Header.vue"
  import Footer from '@/components/Footer.vue'

  export default {
    components: {
      Header,
      Footer
    }
  }
</script>