<template>
  <div class="container large">
    <section class="intro">
        <div class="actualite">
          
        </div>
        <nuxt-content :document="introduction"  data-aos="fade-up" data-aos-delay="200"/>
    </section>
    <Contact/>
  </div>
</template>
<script>
  import Contact from '@/components/Contact.vue'

  export default {
    components: {
      Contact
    },
    async asyncData ({ $content }) {
      const introduction = await $content('introduction').fetch();
      return {
        introduction
      }
    },
     head () {
      return {
        bodyAttrs: {
          class: 'is-home'
        }
      }
    } 
  };
</script>